<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>To-Do</title>


  <script src="/static/js/jquery-3.4.1.js"></script>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/todo.js"></script>

</head>

<body>

  <!--
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand mb-0 h1" href="#">Hello, @{{user}}</a>
    <a class="nav-item nav-link active" href="#">Home</a>
  </nav>-->

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand mb-0 h1" href="#">To-Do App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <span class="navbar-text" href="#">
        Hello, @{{user}}
      </span>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/signOut/">Log Out</a>
        </li>
      </ul>
      
    </div>
  </nav>












  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Add a new To-Do</h5>
      <div class="form-group">
        <label>What do you want to do?</label>
        <input type="newTodo" class="form-control" id="idNewTodo" required>
      </div>
      <!--<div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="idCheckboxDone">
        <label class="form-check-label" for="defaultCheck1">
          Is it done?
        </label>
      </div> -->
      <button type="submit" class="btn btn-primary" onclick="addTodo()">Submit</button>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid">
    <div id="divTodoList" align="center">

    </div>
  </div>

</body>

</html>